

.blog, .archive {
	.entry-content {
		@include clearfix;
		border-bottom: 1px solid $grey-light;
		padding: 15px 0;

		.thumbnail {
			max-width: 25%;
			float: left;
			margin: 0 10px 0 0;
		}
	}
}


.post-meta {
	font-size: .9em;
	font-style: italic;
	color: lighten( $grey, 20% );
	padding: 6px 0;

	a {
		color: lighten( $grey, 20% );

		&:hover {
			color: lighten( $grey, 30% );
		}
	}
}

