

.bg-grey {
	background-color: $grey;
	color: white;
}

.bg-grey-light {
	background-color: $grey-light;
	color: $grey;
}

.bg-red-dark {
	background-color: $red-dark;
	color: white;
}

.bg-red-light {
	background-color: $red-light;
	color: white;
}

.bg-black {
	background-color: $black;
	color: white;
}

.bg-blue {
	background-color: $blue;
	color: white;
}

.bg-blue-light {
	background-color: $blue-light;
	color: white;
}

.bg-teal {
	background-color: $teal;
	color: white;
}

.bg-orange {
	background-color: $orange;
	color: white;
}

